html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
  height: 100vh;
  background-color: #19a2ae;
}

.container {
  position: relative;
  height: 100%;
}

.container .attribution {
  width: 100%;
  text-align: center;
  z-index: 101;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px 50px;
}

.container img {
  width: 600px;
}

.image-top {
  position: fixed;
  top: -200px;
  left: -300px;
}

.image-bottom {
  position: fixed;
  bottom: -200px;
  right: -300px;
}

.card {
  z-index: 100;
  width: 400px;
  height: 400px;
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 15px;
}

.card .card-top {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  height: 150px;
  background-image: url(/images/bg-pattern-card.svg);
}

.card .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #2d3248;
}

.card .card-body .profile-picture {
  width: 120px;
  margin-top: -60px;
}

.card .card-body .profile-picture img {
  border-radius: 50%;
  width: 100%;
}

.card .card-body .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
}

.card .card-body .description h3 {
  margin-bottom: 0;
}

.card .card-body .description p {
  margin-bottom: 0;
}

.card .card-body .description span {
  font-weight: 400;
  color: #969696;
}

.card .card-body .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.card .card-body .social .f {
  text-align: center;
}

.card .card-body .social p {
  color: #969696;
  font-weight: 400;
}

@media screen and (max-width: 455px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container .card {
    width: 350px;
    margin-left: -185px;
  }
  .container img {
    width: 400px;
  }
  .image-top {
    top: -150px;
    left: -200px;
  }
  .image-bottom {
    bottom: -150px;
    right: -200px;
  }
}
/*# sourceMappingURL=styles.css.map */